html,
* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
}

.editor {
  cursor: crosshair;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 512px;
  height: 512px;
}

#clear-all{
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  bottom: 10px;
}